<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mvcmovie20170726074002.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvcmovie20170726074002.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MVCMovie20170726074002</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MVCMovie20170726074002</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mvcmovie20170726074002dbserver.database.windows.net,1433;Initial Catalog=MVCMovie20170726074002_db;User ID=Viren@mvcmovie20170726074002dbserver;Password=Epsilon011" Name="Data Source=tcp:mvcmovie20170726074002dbserver.database.windows.net,1433;Initial Catalog=MVCMovie20170726074002_db;User Id=Viren@mvcmovie20170726074002dbserver;Password=Epsilon011" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCMovie.Models.ApplicationDbContext, MVCMovie" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MovieDBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:mvcmovie20170726074002dbserver.database.windows.net,1433;Initial Catalog=MVCMovie20170726074002_db;User ID=Viren@mvcmovie20170726074002dbserver;Password=Epsilon011" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MVCMovie.Models.MovieDBContext, MVCMovie" MigrationConfiguration="MVCMovie.Migrations.Configuration, MVCMovie" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mvcmovie20170726074002dbserver.database.windows.net,1433;Initial Catalog=MVCMovie20170726074002_db;User Id=Viren@mvcmovie20170726074002dbserver;Password=Epsilon011</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MovieDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mvcmovie20170726074002dbserver.database.windows.net,1433;Initial Catalog=MVCMovie20170726074002_db;User ID=Viren@mvcmovie20170726074002dbserver;Password=Epsilon011</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>